@import '../../node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=BenchNine|Saira|Sarina|Yellowtail|Raleway');

body{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #8a8a8a;
	background: #f4f4f4;
}

a{
	color: #111;
}
img{
	width: 100%;
}
label{
	font-weight: bold;
}

//Progress bar
.__cov-progress{
	box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}

//Helper texto
.texto-impacto{
	font-family: 'Saira', sans-serif;
	text-transform: uppercase;
	&.texto-2{
		font-family: 'BenchNine', sans-serif;
		letter-spacing: 1px;
	}
}
.texto-1{
	font-family: 'Yellowtail', cursive;
}
.texto-2{
	font-family: 'Sarina', cursive;	
}
.text-underline{
	text-decoration: underline;
}
.modal-content{
	background: #fff;
}
.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    animation: spin 2s linear infinite;
}
.inline{
	display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}