@import '../../node_modules/bulma/bulma.sass';

body{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #8a8a8a;
	background: #E3E2E0;
}

a{
	color: #111;
}
img{
	width: 100%;
}
.move-enter-active, .move-leave-active{
	transform : translateX(0);
	transition: all .3s linear;
}
.move-enter,.move-leave-to{
	transform : translateX(100%);
}

//Helper texto
.texto-impacto{
	font-family: 'Saira', sans-serif;
	text-transform: uppercase;
	color: #111;
	&.texto-2{
		font-family: 'BenchNine', sans-serif;
		letter-spacing: 1px;
	}
}

